#Maven
target
dependency-reduced-pom.xml

#Eclipse
.classpath
.project
.settings
bin

#IDEA
.idea
addashboard.iml

#VSCode
.vscode

#IntelliJ
addashboard.iml
addashboard(1).iml
addashboard(2).iml

#Other
handin
/team_2_increment1.zip

#Don't upload 700MB files
click_log.csv
impression_log.csv
server_log.csv
